// Colors
$color-black: #000;
$color-black-15: rgba(0, 0, 0, 0.15);
$color-white: #fff;
$color-white-80: rgba(255, 255, 255, 0.8);
$color-main: #00c4ce;
$color-text: #0c0901;
$color-text-30: rgba(12, 9, 1, 0.3);
$color-text-grey: #6c757d;
$color-concrete: #f3f3f3;
$color-modal: rgba(0, 0, 0, 0.4);
$color-bg: #d8d8d8;
$color-bg-30: rgba(216, 216, 216, 0.3);
$color-logo: #0c0901;
$color-border: #979797;
$color-border-light: rgba(151, 151, 151, 0.3);
$color-navigation-signin: #0c0901;
$color-box-shadow: rgba(0, 0, 0, 0.14);
$color-menu-item-label: #0c0901;
$color-submenu-item-link: #0c0901;
$color-nprogress: #4d70e4;
$color-blue: #125a96;
$color-btn-admin-bg: #c8e2f8;
$color-btn-admin-text: #125a96;
$color-skeleton: #f2f2f2;
$color-skeleton-active: #e6e6e6;

// Font-sizes
$size-button: 1.125rem;
$size-button-icon: 2.2rem;
$size-button-large: 1.6875rem;
$size-title-large-mobile: 1.125rem;
$size-title-large-desktop: 1.8125rem;
$size-title-xlarge-desktop: 2.5125rem;

//Width
$width-logo: 99px;
$width-input: 217px;
$width-max-username: 200px;

//Height
$height-logo: 42px;
$height-input: 36px;
$height-nprogress-bar: 5px;

// Avatar size
$avatar-desktop-small: 38px;
$avatar-desktop-smaller: 36px;
$avatar-desktop-medium: 50px;
$avatar-desktop-large: 72px;
$avatar-desktop-x-large: 120px;

$avatar-mobile-small: 30px;
$avatar-mobile-smaller: 24px;
$avatar-mobile-medium: 40px;
$avatar-mobile-large: 72px;
$avatar-mobile-x-large: 120px;
